body {
color: #EACDC2;
font-family: Arial;
padding: 10px;
background: #1a1423;
}

.link {
color: #B75D69;
}

.header {
background-color: #774c60;
padding: 20px;
}

.nav-bar-social {
font-family: Arial;
  overflow: hidden;
  background-color: #372549;
}

.nav-bar-social a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
font-size: 40px;
margin-top: 0px;
margin-bottom: 15px;
}

.left-column {
float: left;
size: 75%;
}

.artist-card {
font-family: Arial;
background-color: #372549;
padding: 20px;
margin: 20px;
}

.shopping-card {
font-family: Arial;
background-color: #372549;
padding: 20px;
margin: 20px;
}

.right-column {
float: right;
size: 25%;
}

.login-card {
font-family: Arial;
background-color: #372549;
padding: 20px;
margin: 20px;
}

.password-text-box {

}


/*.row-shopping-gallery {
justify-content: left;
align-items: center;
gap: 16px;
max-width: 1400px;
padding: 20px 10 px;
}

.row-shopping-gallery:after {
content: "";
display: table;
clear: both;
}*/
