.body {
background-color: #1b1b32;
color: #f5f6f7;
font-family: Tahoma;
font-size: 16px;
padding: 10px;
}

.header-login-signup-forms {
background-color: beige;
padding: 20px;
}

.left-column {
float: left;
size: 75%;
}

.right-column {
float: right;
size: 25%;
}

card {
background-color: dodger-blue;
padding: 20px;
margin-top: 20px;
}